<div class="h-screen">
  <div class="h-[60%] flex justify-center items-center">
    <h1 class="text-[#434b54] font-bold text-3xl text-center">Budget App</h1>
  </div>
  <div class="flex flex-col">
    <%= link_to 'Log in', new_user_session_path , class: "text-white text-center bg-[#3778c2] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-full" %>
    <%= link_to 'Sign up', new_user_registration_path , class: "text-white text-center bg-[#3778c2] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-full" %>
  </div>
</div>
